*,
*::before,
*::after {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}
html,
body {
	width: 100%;
	height: 100%;
}
body {
	display: grid;
	justify-content: center;
	align-items: center;
}

h1 {
	margin-bottom: 30px;
	text-align: center;
}

.qrbox {
	display: grid;
	grid-row-gap: 10px;
}

img {
	height: 300px;
	padding: 1rem;
	border: 2px solid #bada55;
	border-radius: 0.5rem;
}

textarea {
	outline: none;
	height: 100px;
	padding: 1rem;
	border: 2px solid #bada55;
}

button {
	font-size: 1rem;
	border: none;
	outline: none;
	padding: 0.5rem 1.5rem;
	border-radius: 2rem;
	transition: background-color 0.2s;
}

#btnGenerate {
	margin-top: 10px;
	background-color: #bada55;
}

#btnGenerate:hover {
	background-color: #a4be4b;
}

#btnDownload {
	background-color: tomato;
}

#btnDownload:hover {
	background-color: rgb(221, 84, 60);
}
